
/* LAPTOP AND ABOVE */
@media only screen and (min-width: 1024px) {

  header {
    position: fixed;
    width: 40%;
    background-color: #e39000;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
  }
  header img {
    width: 30vh;
    height: 30vh;
  }
  header h2 {
    padding-top: 3vh;
    font-size: 5vh;
  }
}
/*MOBILE L AND ABOVE*/
@media only screen and (min-width: 427px) {
  header h2 {
    margin-top: 0;
    min-width: 256px;
    text-align: center;
  }

  header {
    min-height: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #e39000;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
  }
}

/*MOBILE L - TABLET L*/
@media only screen and (min-width: 425px) and (max-width: 1023px) {
  header {
    margin-top: 5em;
  }
  header h2 {
    padding-top: 3vh;
    font-size: 4vh;
  }
}

/*MOBILE L AND BELOW*/
@media only screen and (max-width: 425px) {
  header h2 {
    font-size: 1em;
  }
  
  header {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e39000;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
  }

  header img {
    margin-top: 1em;
    width: 128px;
    height: 128px;
  }

}