nav#navbox {
  padding: 1.5em 1.5em 0px 1.5em;
  height: 120px;
  background-color: #4056A1;
  color: #fafafa;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Source Sans Pro', 'sans-serif';
}

#navbox span {
  font-family: 'Bungee', 'sans-serif';
  font-size: 40px;
}

#navbox div {
  float: right;
  display: flex;
  flex-direction: column;
}

#navbox a {
  text-align: center;
}


#target {
  margin-top: 10px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
}
