html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', 'sans-serif';
}

header {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 50px 300px auto 10px;
  background-color: #e39000;
  background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
}

img {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  /* align-self: center; */
  justify-self: center;
  align-self: center;
}

header h2 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 200px auto;
}

.container > .new-tweet {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.container > div {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#button {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px; 
  z-index: 1;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}